:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}
body{
  font-family: Poppins;
  width: 100%;
  height: 100vh;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqYjBVFkghv9bxbaZ3iENZnDLEkulTVOb52WvTy50uCyDYxfxKsSl7XboG&s=10');
  background-size: 130% 100%;
  background-attachment: fixed;
  
}
legend{
  color: white;
  font-size: 52px;
  font-weight: 600;
}
.form{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 85%;
  border: 3px solid white;
  text-align: justify;
  padding: 20px;
  padding-left: 20px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,0.1);
}
form label{
  margin-right: 10px;
  color: white;
  font-size: 43px;
}
#msglbl{
  position: relative;
  left: 50%;
  display: block; /* or inline-block, depending on your needs */
  width: fit-content;
  transform: translateX(-50%);
}
form textarea{
  width: 80%;
  background-color: var(--select-bg);
  border: 1px solid white;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 43px;
  color: white;
  margin-left: 50%;
  margin-bottom: 30px;
  transform: translateX(-50%);
  padding: 5px;
}
form input{
  margin-bottom: 30px;
  width: 67%;
  color: white;
  background-color: var(--select-bg);
  border: 1px solid white;
  border-radius: 5px;
  font-size: 43px;
}

form button{
  
  margin-top: 20px;
  margin-left: 50%;
  margin-bottom: 20px;
  transform: translateX(-50%);
  width: 50%;
  color: white;
  padding: 5px;
  background-color: var(--select-bg);
  border: 1px solid white;
  border-radius: 20px;
  font-size: 43px;
  font-weight: 500;
  box-shadow: 0px 0px 4px 4px #ff2e2e;
}
select {
  /* Reset */
  appearance: none;
  margin: 0px 0 10px 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 40px;
  /* Personalize */
  width: 70%;
  padding: 0.3rem 4rem 0.3rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: #d6d6d6;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--option-bg);
  }
}



@media only screen and (min-width: 600px){
  .form{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 85%;
    border: 3px solid white;
    text-align: justify;
    padding: 20px;
    padding-left: 20px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.1);
}
}
